/* #Media Queries Responsive
================================================== */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
}
/* Desktop
------------------------- */
@media (min-width: 980px) and (max-width: 1199px) {
  .mid{margin:0px 80px; width:40%;}
}
/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px)
{
  .mid{margin:0px 35px; width:60%;}
}
/* Mobile Portrait
------------------------- */
@media only screen and (max-width: 479px)
{
  .mid{margin:0px 35px; width:60%;}
}

@media (min-width:500px) and (max-width:769px)
{
  .mid {
    position: relative;
    margin: 0 auto;
    margin-top: -80px;
    border-radius: 100%;
    width: 25%;
  }

}

@media only screen and (max-width:499px)
{
  .mid{margin:0px 0px; width:30%}
}
@media only screen and (max-width:266px)
{
  .mid{margin:0px 40px; width:55%;}
}
@media (min-width:267px) and (max-width:440px)
{
  .mid{margin:0px 150px; width:30%;}
}
@media (max-width: 499px) and (min-width:267px){

  .mid{margin:0px 100px; width:30%;}
}
@media (min-width: 768px) and (max-width: 979px)
{
  .image{
    width:100%;
    height:auto;
    padding:10px 10px;
  }
}
@media (min-width:267px) and (max-width:440px)
{
  .image{
    width:100%;
    height:auto;
    padding:10px 10px;
  }
  .images{
    width:10%;
    height:auto;
    padding:0px 0px;
  }
}
@media (min-width:500px) and (max-width:769px)
{
  .image{
    width:100%;
    height:auto;
    padding:10px 10px;
  }
  #navigation .navbar-nav.navbar-right li {text-align: center; right: 0%; }
}
@media only screen and (max-width: 479px)
{
  #navigation .navbar-nav.navbar-right li {text-align: center; right: 0%; }
}
